In [4]:
import pandas as pd
import numpy as np

# Create a variable a
a = pd.Series([100, 200, 300, 400])

# Print a, and data type
print(a, type(a))

# Access the element 300
print(a[2])

# Values of index for series a
print(a.index)

# Change index
a.index = ['c', 'a', 'b', 'd']

# Access value with index 'd'
print(a['d'])

# Sort values w.r.t index
print(a.sort_index())

# Create Series b
b = pd.Series([800, 450, 100], index=['e', 'f', 'g'])
print(b)

# Append b to a
a = pd.concat([a, b])

# Print a after appending
print(a)

# Sort values in descending order and print index
print(a.sort_values(ascending=False).index)

# Create dataframe df
df = pd.DataFrame(a, columns=['Values'])

# Print df
print(df)

# Shape of dataframe
print(df.shape)

# Index of df
print(df.index)

# Print head and tail
print(df.head(), df.tail())

# Rename column
df.columns = ['points']

# Create fruits series
fruits = pd.Series(np.random.choice(['orange', 'mango', 'apple'], 7), index=df.index)

# Add fruits column
df['fruits'] = fruits

# Print head to verify
print(df.head())

# Create dataframe d1
d1 = pd.DataFrame({'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'], 'Temperature': [15, 22, 20, 26, -2]})

# Print d1
print(d1)

# Shape of d1
print(d1.shape)

# Set city = d1['city']
city = d1['city']

# Print city and type
print(city, type(city))

# Create dataframe d2
d2 = pd.DataFrame({'city': ['Bengalaru', 'Coimbatore', 'Srirangam', 'Pondicherry'], 'Temperature': [24, 35, 36, 39]})

# Print shape of d2
print(d2.shape)

# Merge dataframes
d3 = pd.concat([d1, d2], ignore_index=True)

# Select cities with temp <= 20
print(d3[d3['Temperature'] <= 20])

# Select cities with temp >= 35
print(d3[d3['Temperature'] >= 35])

# Function for union territory
d3['is_ut'] = d3['city'].apply(lambda x: x in ['Chandigarh', 'Pondicherry', 'Delhi'])

# Print d3
print(d3)

# Function to convert Celsius to Fahrenheit
d3['temp_fahrenheit'] = d3['Temperature'].apply(lambda c: (c * 9/5) + 32)

# Print d3
print(d3)

# Select cities which are UTs
print(d3[d3['is_ut']])

# Select cities with temperature above 90Â°F
print(d3[d3['temp_fahrenheit'] > 90])

# Select first three rows
print(d3.iloc[:3])

# Select last two columns
print(d3.iloc[:, -2:])

# Create dataframe for groupby
data = pd.DataFrame({'Category': ['A', 'B', 'A', 'B', 'C'], 'Values': [10, 20, 30, 40, 50]})

# Groupby with sum
print(data.groupby('Category').sum())

# Groupby with count
print(data.groupby('Category').count())

# Groupby with min and max
print(data.groupby('Category').agg(['min', 'max']))

# Groupby with two columns, min and max
print(data.groupby(['Category', 'Values']).agg({'Values': ['min', 'max']}))

# Create date range
a = pd.date_range(start='2020-01-01', end='2021-04-01')

# Print a
print(a)

# Length of a
print(len(a))

# Type of a
print(type(a))

0    100
1    200
2    300
3    400
dtype: int64 <class 'pandas.core.series.Series'>
300
RangeIndex(start=0, stop=4, step=1)
400
a    200
b    300
c    100
d    400
dtype: int64
e    800
f    450
g    100
dtype: int64
c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64
Index(['e', 'f', 'd', 'b', 'a', 'c', 'g'], dtype='object')
   Values
c     100
a     200
b     300
d     400
e     800
f     450
g     100
(7, 1)
Index(['c', 'a', 'b', 'd', 'e', 'f', 'g'], dtype='object')
   Values
c     100
a     200
b     300
d     400
e     800    Values
b     300
d     400
e     800
f     450
g     100
   points  fruits
c     100   apple
a     200   mango
b     300   mango
d     400  orange
e     800   mango
         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2
(5, 2)
0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object <class 'pandas.core.series.Series'>
(4, 2)
         city  Temperature
0  Chandigarh           15
2      Kanpur           20
4      Manali           -2
          city  Temperature
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39
          city  Temperature  is_ut
0   Chandigarh           15   True
1        Delhi           22   True
2       Kanpur           20  False
3      Chennai           26  False
4       Manali           -2  False
5    Bengalaru           24  False
6   Coimbatore           35  False
7    Srirangam           36  False
8  Pondicherry           39   True
          city  Temperature  is_ut  temp_fahrenheit
0   Chandigarh           15   True             59.0
1        Delhi           22   True             71.6
2       Kanpur           20  False             68.0
3      Chennai           26  False             78.8
4       Manali           -2  False             28.4
5    Bengalaru           24  False             75.2
6   Coimbatore           35  False             95.0
7    Srirangam           36  False             96.8
8  Pondicherry           39   True            102.2
          city  Temperature  is_ut  temp_fahrenheit
0   Chandigarh           15   True             59.0
1        Delhi           22   True             71.6
8  Pondicherry           39   True            102.2
          city  Temperature  is_ut  temp_fahrenheit
6   Coimbatore           35  False             95.0
7    Srirangam           36  False             96.8
8  Pondicherry           39   True            102.2
         city  Temperature  is_ut  temp_fahrenheit
0  Chandigarh           15   True             59.0
1       Delhi           22   True             71.6
2      Kanpur           20  False             68.0
   is_ut  temp_fahrenheit
0   True             59.0
1   True             71.6
2  False             68.0
3  False             78.8
4  False             28.4
5  False             75.2
6  False             95.0
7  False             96.8
8   True            102.2
          Values
Category
A             40
B             60
C             50
          Values
Category
A              2
B              2
C              1
         Values
            min max
Category
A            10  30
B            20  40
C            50  50
                Values
                   min max
Category Values
A        10         10  10
         30         30  30
B        20         20  20
         40         40  40
C        50         50  50
DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
               '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
               '2021-03-31', '2021-04-01'],
              dtype='datetime64[ns]', length=457, freq='D')
457
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>